__pycache__
.vscode
.spyproject
.pypirc
dist/
build/
smpl.egg-info/
.eggs/
*.pyc
.ipynb_checkpoints
.coverage
coverage.xml
docs/source/example/**/*.py
docs/source/example/**/*.gif
test.out
prof/
debug_table.csv
test.txt
test.gif
jupyter_execute
